body {
  font-family: Helvetica, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

 h1 {
  text-align: center;
  margin-top: 10px;
}

/*navbar*/
.navbar {
  background-color: #ccccff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-links li.active {
  text-decoration: underline;
}


.nav-content {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  margin-right: 50px;
  flex-grow: 1;
}

.nav-links li a {
  color: black;
  text-decoration: none;
}

/*logo */
.navbar img {
  height: 110px;
  width: 110px;
  margin-right: -20px;
}


.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-bar button {
  padding: 5px 10px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 5px;
}

/* In charge of the large layout containers */
.container {
  display: flex;
}

/* Friends list container */
.friends-list { /*list box container*/
  width: 25%;
  padding: 10px;
  background-color: #ccccff;
  border-radius: 10px;
  max-width: 20%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  max-height: 570px;
  margin-right: 10px;
}

.friend-online-box, .my-info-box, .thread-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
}

.friend-online-box {
  position: relative;
}

.friend-online-box:hover {
cursor: pointer;
}
.friend-online {
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* My username box inside the firends list container */
.profile-info {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* threads displayed in the homepage */
.threads {
  width: 75%;
  max-height: 600px;
  padding: 10px;
  overflow-y: auto;
}

.thread-box:hover {
  background-color: #f5f5f5;
}

.thread-box a {
  text-decoration: none;
  color: inherit;
}

/* Message inside the thread box */
.message {
  margin-left: 20px;
}

/* Icons inside the thread box */
.message-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

/* Heart icon */
.message-icons svg.fa-heart {
  color: red;
}

/* Comment icon */
.message-icons i.svg-ellipsis-h {
  color: black;
}

.like-count {
  font-size: 12px;
}

/* Add post button in home page */
.add-post-container {
  width: 98.5%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-post-box {
  background-color: #ccccff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.add-post a {
  text-decoration: none;
  color: inherit;
}

/* Adding post page */
.form-container { /* create a new post form */
  max-width: 1200px;
  margin: auto;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.postBtn { /* add post button */
  padding: 10px 20px;
  background-color: #ccccff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.postBtn:hover, .add-post-box:hover, .saveChangeBtn:hover {
  background-color: #b4a0e5;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea, .signInInput, .signUpInput, .findpwInput{
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="file"] {
  display: block;
  margin-top: 5px;
}

#fill-in-message { /* error message for form */
  color: lightcoral;
  font-size: 16px;
}

/* Edit profile Page */
.profile {
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile select,
.profile input[type="text"],
.profile input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.saveChangeBtn { /* add post button */
  padding: 10px 20px;
  background-color: #ccccff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

/* Viewing message (message detail page) */
.message-detail-container {
  width: 70%;
  margin-left: 10px;
  box-sizing: border-box;
}

.message-container, .comments-container{
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 10px;
}

.message-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}


.comment-box {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.postCommentBtn { /* add post button */
  padding: 10px 20px;
  background-color: #ccccff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

/* Setting page */
.setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-profile-picture {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-profile, .notification-setting, .logout {
  width: 100%;
  margin-bottom: 20px;
}

.edit-profile button, .logoutBtn {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 70px;
  background-color: #ccccff;
  color: black;
  cursor: pointer;
}

.logoutBtn {
  background-color: lightcoral;
  color: white;
}

.edit-profile button:hover {
  background-color: #b4a0e5;
}

.logoutBtn:hover {
  background-color: red;
}

.notification-setting label {
  display: block;
  margin-bottom: 10px;
}

.notification-setting {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}

input[type=checkbox] {
  margin-left: -150px;
  margin-top: -7px;
}


/* Edit Profile Popup */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  height: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.success-message {
  max-height: 50%;
  text-align: center;
}

.checkmark {
  font-size: 70px;
  color: #ccccff;
  margin-bottom: 15px;
}


/* GetHomeSafeFeature Page */
.getHomeSafeFeature {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.getHomeSafeFeature p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.buddy-request-container, .request-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

.buddy-request-container {
  overflow-y: auto;
}

.buddy-request-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buddy-request-box img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.buddy-request

.location {
  font-weight: normal;
}

.buddy-request-container h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 50px;
}


.request-form input,
.request-form select,
.request-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.request-form label {
  margin-bottom: 20px;
}

.requestBtn {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ccccff;
  margin-top: 30px;
}

.requestBtn:hover {
  background-color: #b4a0e5;
}

.buddy-request-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
}

.buddy-request {
  font-weight: bold;
}

/* Footer */

.footer-container {
  background-color: #282828;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}


.footerStyle {
  color: #fff;
  text-align: center;
  width: 100%;
}

.footerDivStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footerDivTextStyle {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footerDivTextStyle:hover {
  color: #ccccff;
}

.underline {
  text-decoration: underline;
}

/* Friends List Page */

.friends-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.friends-list-page h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

.search-bar-container button {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccccff;
  color: black;
  cursor: pointer;
  margin-top: -20px;
}

.search-bar-container button:hover {
  background-color: #b4a0e5;
}

.friends-page-container {
  width: 80%;
}

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.friend:hover {
  background-color: #f5f5f5;
}

.friend .block-button, .friend .unblock-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #555;
  color: white;
  margin-left: 10px;
}

.friend .unfriend-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
  margin-left: 10px;
}

.suggested-friends-page-container {
  width: 80%;
}


.suggested-friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.friend-search-results {
  display: flex;

}

.suggested-friend:hover {
  background-color: #f5f5f5;
}

.suggested-friend .block-button, .suggested-friend .unblock-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #555;
  color: white;
  margin-left: 10px;
}

.suggested-friend .unfriend-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
  margin-left: 10px;
}


/* Direct Message Page */
.direct-message-page {
  display: flex;
  justify-content: space-between;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: stretch;
  margin-right: 30px;
}

.conversation-list {
  flex: 1;
  padding: 10px;
  background-color: #ccccff;
  border-radius: 10px;
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 10px;
  width: 100%; /* take up full available width */
}

.conversation-box {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.conversation-box:hover {
  background-color: #f5f5f5;
}



.message-box {
  flex-grow: 1;
  overflow-y: auto;
}

.message-dm {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  width: fit-content;
}



.message-send {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.message-send textarea {
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-send button {
  padding: 10px 20px;
  background-color: #ccccff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-send button:hover {
  background-color: #b4a0e5;
}

/* Sign In Page */
.sign-in-page, .sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4b2e83; /* UW purple color */
}

.signInForm, .signUpForm, .find-pw {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.signInBtn, .signUpBtn {
  padding: 10px 20px;
  background-color: #4b2e83; /* UW purple color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signInBtn:hover, .signUpBtn:hover {
  background-color: #ccccff;
  color: black;
}

.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  color: #4b2e83; /* UW purple color */
  text-decoration: none;
}

.uw-netid-help {
  margin-top: 20px;
  text-align: center;
}

.uw-netid-help p {
  color: #888;
  font-size: 12px;
  line-height: 1.5;
}

.message-dm.sent {
  align-self: flex-end; /* push the message to the right side */
  background-color: #ccccff; /* or any other color you prefer */
  color: black; /* for the text color */
  border-radius: 12px 0px 12px 12px;
}

.message-dm.received {
  align-self: flex-start; /* keep the message to the left side */
  background-color: #e6e6e6; /* or any other color you prefer */
  color: black; /* for the text color */
  border-radius: 0px 12px 12px 12px;
}

.forgotPwPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4b2e83; /* UW purple color */
}

.forgotPwFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items in the column */
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.forgotPwBtn {
  margin-top: 20px; /* Add some space between input and the button */
  padding: 10px 20px;
  background-color: #4b2e83;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.forgotPwBtn:hover {
  background-color: #ccccff;
  color: black;
}


/* Common styles for both types of messages */
.message-dm {
  padding: 5px 10px;
  margin: 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-box {
  display: flex;
  flex-direction: column;
}

.online-indicator {
  width: 10px;
  height: 10px;
  background-color: #ccccff;
  border-radius: 50%;
  position: absolute;
  right: 10px;       /* Adjust this value to position the dot from the right */
  top: 50%;          /* This places the top edge of the dot at the vertical middle */
  transform: translateY(-50%); /* This moves the dot up by half its height, thus vertically centering it */
}


.friend-profile-image, .profile-img img {
  width: 25px; /* or whatever size you'd like */
  height: 25px;
  border-radius: 50%; /* make it a circle */
  margin-right: 10px; /* spacing between the image and username */
}


/* dm profile */
.opponent-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
}

.opponent-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.direct-message-page {
  display: flex;
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
}


.right-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.friend-list {
  height: 20%;
  overflow-y: auto;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
}

.friend-list h2 {
  margin: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Creates a gap between friend-list and chat-container */
  margin-bottom: 20px;
  border-radius: 10px;
}

.message-box {
  overflow-y: auto;
  max-height: 420px; /* Adjust based on how much space you want for chat history */
}

.message-send {
  display: flex;
  align-items: center;
}

.uw-logo {
  width: 100px;  /* Adjust as necessary */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image */
}

.app-name {
  text-align: center;  /* Center the text */
  color: #fff;  /* Set the color you want */
  margin-bottom: 20px;  /* Space before the form starts */
}


/* Container for all search results */
.friend-search-results-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  max-height: 200px;
  overflow-y: auto;
}

/* Individual search result for freind */
.friend-search-results {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* The actions within a friend search result */
.friend-actions {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

/* Additional styling for the Add Friend button */
.add-friend-button {
  background-color: #ccccff;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.add-friend-button:hover {
  background-color: #b4a0e5;
}

